div#tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #41403e;
    border: 2px solid white;
    color: white;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 8px;
    white-space: pre-line;
}
